.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container-item {
    flex-basis: 49%;
    margin-bottom: 2%;
}

.resume-icon{
    display: inline-block;
    width: 30px;
}